{% load jdatetime %}
<div class="pull-left">
  <img class="media-object" src="{{ post.author.avatar }}" alt="{{ post.author.username }}" style="height: 64px; width: 64px">
</div>
<div class="media-body">
  <h4 class="media-heading">{{ post.author.first_name }} wrote on {{ post.crdate|localedatetime }}</h4>
  <p style="min-height: 29px">{{ post.content }}</p>
  <div class="media">
    {% for subpost in post.posts.all %}
      {% with post=subpost template_name="includes/post.html" %}
      {% include template_name %}
      {% endwith %}
    {% endfor %}
  </div>
</div>