{% load jdatetime %}
{% with post=thread.first_post %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="pull-left">
        <img class="media-object img-rounded" src="{{ post.author.avatar }}" alt="{{ post.author.username }}">
      </div>
      <div class="media-body">
        <p class="pull-right">{{ post.crdate|localedatetime }}</p>
        <h4 class="media-heading">{{ post.author.first_name }} wrote:</h4>
        <p>{{ post.content }}</p>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    {% include "includes/actions.html" %}
    <a href="{% url 'comments:show_posts' thread.category thread.id %}">
      <span class="glyphicon glyphicon-comment"></span> {{ thread.posts.count|add:"-1" }} comment{{ thread.posts.count|add:"-1"|pluralize }} &rarr;
    </a>
  </div>
</div>
{% endwith %}