{% load jdatetime %}
<div class="panel panel-default{% if not post.is_approved %} panel-info{% elif post.is_spam %} text-muted panel-warning{% elif post.is_deleted %} text-muted panel-danger{% endif %}">
  <div class="panel-body">
    <div class="media">
      <div class="pull-left gravatar">
        <img class="media-object img-responsive img-rounded" src="{{ post.author.avatar }}" alt="{{ post.author.username }}">
      </div>
      <div class="media-body" id="p{{ post.id }}">
        <p class="pull-right text-right"><small>
          Posted on {{ post.crdate|localedatetime }}
          {% if post.edited %}<br />
          Edited on {{ post.edited|localedatetime }}
          {% endif %}
        </small></p>
        <h4 class="media-heading">{{ post.author.name }} wrote:</h4>
        {{ post.cleaned_content|safe }}
      </div>
    </div>
  </div>
  <div class="panel-footer">
    {% include "includes/actions.html" %}
    <a href="{% url 'comments:show_posts' thread.category thread.id %}">
      <span class="glyphicon glyphicon-comment"></span> {{ thread.posts.count|add:"-1" }} comment{{ thread.posts.count|add:"-1"|pluralize }} &rarr;
    </a>
  </div>
</div>