{% extends "base.html" %}
{% load bootstrapform %}

{% block navigation %}
  <li><a href="{% url 'software:show_home' %}" title="Home">Home</a></li>
  <li><a href="{% url 'downloads:show_downloads' %}" title="Downloads">Downloads</a></li>
  <li{% if category == 'discussion' %} class="active"{% endif %}><a href="{% url 'comments:show_threads' 'discussion' %}" title="Discussions">Discussions</a></li>
  <li{% if category == 'request' %} class="active"{% endif %}><a href="{% url 'comments:show_threads' 'request' %}" title="Requests">Requests</a></li>
  <li{% if category == 'issue' %} class="active"{% endif %}><a href="{% url 'comments:show_threads' 'issue' %}" title="Issues">Issues</a></li>
  {{ block.super }}
{% endblock %}

{% block content %}
  <hr />
  <div class="row">
    <div class="col-md-12">
      {% if parent %}
        {% include "includes/thread.html" with post=parent %}
      {% endif %}
      <form class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form|bootstrapform }}
        {{ media_formset.management_form|bootstrapform }}
        {% for media_form in media_formset %}
          {{ media_form|bootstrapform }}
        {% endfor %}
        {{ attachment_formset.management_form|bootstrapform }}
        {% for attachment_form in attachment_formset %}
          {{ attachment_form|bootstrapform }}
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 btn-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <input type="reset" value="Reset" class="btn btn-default" />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
