{% extends "base.html" %}
{% load jdatetime %}

{% block navigation %}
  <li><a href="{% url 'software:show_home' %}" title="Home">Home</a></li>
  <li><a href="{% url 'downloads:show_downloads' %}" title="Downloads">Downloads</a></li>
  <li{% if category == 'discussion' %} class="active"{% endif %}><a href="{% url 'comments:show_threads' 'discussion' %}" title="Discussions">Discussions</a></li>
  <li{% if category == 'request' %} class="active"{% endif %}><a href="{% url 'comments:show_threads' 'request' %}" title="Requests">Requests</a></li>
  <li{% if category == 'issue' %} class="active"{% endif %}><a href="{% url 'comments:show_threads' 'issue' %}" title="Issues">Issues</a></li>
  {{ block.super }}
{% endblock %}

{% block content %}
  <hr />
  <div class="row">
    <div class="col-md-12">
      {% for thread in threads %}
        {% include "includes/thread.html" %}
      {% endfor %}
    </div>
  </div>
  {% if threads.has_other_pages %}
  <div class="row">
    <div class="col-md-12">
      <ul class="pager">
        {% if threads.has_previous %}
        <li class="previous"><a href="?page={{ threads.previous_page_number }}">&larr; Newer</a></li>
        {% endif %}
        {% if threads.has_next %}
        <li class="next"><a href="?page={{ threads.next_page_number }}">Older &rarr;</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% endif %}
{% endblock %}
