{% extends "base.html" %}
{% load compress %}
{% load jdatetime %}

{% block title %}{{ block.super }} - {{ category|capfirst }} - {{ thread.crdate|date }}{% endblock %}

{% block css %}
  {{ block.super }}
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/comments.css" />
  {% endcompress %}
{% endblock %}

{% block navigation %}
  <li><a href="{% url 'software:show_home' %}" title="Home">Home</a></li>
  <li><a href="{% url 'downloads:show_downloads' %}" title="Downloads">Downloads</a></li>
  <li{% if category == 'discussion' %} class="active"{% endif %}><a href="{% url 'comments:show_threads' 'discussion' %}" title="Discussions">Discussions</a></li>
  <li{% if category == 'request' %} class="active"{% endif %}><a href="{% url 'comments:show_threads' 'request' %}" title="Requests">Requests</a></li>
  <li{% if category == 'issue' %} class="active"{% endif %}><a href="{% url 'comments:show_threads' 'issue' %}" title="Issues">Issues</a></li>
  {{ block.super }}
{% endblock %}

{% block content %}
  <hr />
  {% if perms.comments.change_thread %}
  <div class="pull-right">
    {% if not thread.is_closed %}
    <a href="{% url 'comments:manage_thread' thread.category thread.id 'close' %}" class="btn btn-danger" role="button" title="Close thread">
      <span class="glyphicon glyphicon-minus"></span> Close
    </a>
    {% else %}
    <a href="{% url 'comments:manage_thread' thread.category thread.id 'open' %}" class="btn btn-success" role="button" title="Open thread">
      <span class="glyphicon glyphicon-ok"></span> Open
    </a>
    {% endif %}
  </div>
  {% endif %}
  <h3>{{ thread.get_category_display }} created on {{ thread.crdate|localedate }}</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {% with post=first_post %}
          {% include "includes/post.html" %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
